# Bài 5.1:

In [2]:
import sqlite3

def create_database():
    connection = sqlite3.connect("mydatabase.db")

    cursor = connection.cursor()

    cursor.execute('''CREATE TABLE IF NOT EXISTS example_table
                      (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

    connection.close()

def connect_and_print_version():
    connection = sqlite3.connect("mydatabase.db")
    cursor = connection.cursor()
    cursor.execute("SELECT SQLITE_VERSION()")
    version = cursor.fetchone()[0]
    print(f"SQLite version: {version}")
    connection.close()

create_database()

connect_and_print_version()

SQLite version: 3.45.3

# Bài 5.2:

In [3]:
import sqlite3
conn = sqlite3.connect(':memory:')

cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        position TEXT
    )
''')

cursor.execute("INSERT INTO employees (name, position) VALUES (?, ?)", ('John Doe', 'Developer'))
cursor.execute("INSERT INTO employees (name, position) VALUES (?, ?)", ('Jane Doe', 'Designer'))

conn.commit()

cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()

print("Dữ liệu trong bảng employees:")
for row in rows:
    print(row)
conn.close()

Dữ liệu trong bảng employees:
(1, 'John Doe', 'Developer')
(2, 'Jane Doe', 'Designer')

# Bài 5.3:

In [4]:
import sqlite3

conn = sqlite3.connect('my_database.db')

cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER
    )
''')
conn.commit()
conn.close()

# Bài 5.4:

In [5]:
import sqlite3

def list_tables(database_file):
    conn = sqlite3.connect(database_file)

    cursor = conn.cursor()

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

    tables = cursor.fetchall()
    if tables:
        print("Các bảng trong cơ sở dữ liệu:")
        for table in tables:
            print(table[0])
    else:
        print("Không có bảng nào trong cơ sở dữ liệu.")

    conn.close()

database_path = 'my_database.db'
list_tables(database_path)

Các bảng trong cơ sở dữ liệu:
students

# Bài 5.5:

In [6]:
import sqlite3

def list_tables(database_file):
    conn = sqlite3.connect(database_file)

    cursor = conn.cursor()

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    if tables:
        print("Các bảng trong cơ sở dữ liệu:")
        for table in tables:
            print(table[0])
    else:
        print("Không có bảng nào trong cơ sở dữ liệu.")

    conn.close()

def insert_and_display_records(database_file, table_name):
    conn = sqlite3.connect(database_file)

    cursor = conn.cursor()

    cursor.execute(f"INSERT INTO {table_name} (name, age) VALUES (?, ?)", ('John Doe', 25))
    cursor.execute(f"INSERT INTO {table_name} (name, age) VALUES (?, ?)", ('Jane Doe', 30))

    conn.commit()

    cursor.execute(f"SELECT * FROM {table_name}")

    rows = cursor.fetchall()
    if rows:
        print(f"\nDữ liệu từ bảng {table_name}:")
        for row in rows:
            print(row)
    else:
        print(f"\nKhông có dữ liệu trong bảng {table_name}.")

    conn.close()

database_path = 'my_database.db'

table_name = 'students'

list_tables(database_path)

insert_and_display_records(database_path, table_name)

Các bảng trong cơ sở dữ liệu:
students

Dữ liệu từ bảng students:
(1, 'John Doe', 25)
(2, 'Jane Doe', 30)

# Bài 5.6:

In [7]:
import sqlite3

def count_records(database_file, table_name):
    conn = sqlite3.connect(database_file)
    cursor = conn.cursor()

    cursor.execute(f"SELECT COUNT(*) FROM {table_name}")
    count = cursor.fetchone()[0]
    print(f"Số bản ghi trong bảng {table_name}: {count}")

    conn.close()

database_path = 'my_database.db'
table_name = 'students'
count_records(database_path, table_name)

Số bản ghi trong bảng students: 2

# Bài 5.7:

In [18]:
import sqlite3

def cap_nhat_cot(database_file, ten_bang, cot_can_cap_nhat, gia_tri_moi):
    conn = sqlite3.connect(database_file)

    cursor = conn.cursor()

    cursor.execute(f"UPDATE {ten_bang} SET {cot_can_cap_nhat} = ?", (gia_tri_moi,))

    conn.commit()

    print(f"Cập nhật thành công. Tất cả giá trị trong cột {cot_can_cap_nhat} đã được đặt thành {gia_tri_moi}.")

    conn.close()

duong_dan_csdls = 'nhan_su.db'

ten_bang_can_cap_nhat = 'nhan_vien'
cot_can_cap_nhat = 'tuoi'
gia_tri_moi = 21

# Bài 5.8:

In [20]:
import sqlite3

def xoa_hang(database_file, ten_bang, dieu_kien):
    conn = sqlite3.connect(database_file)

    cursor = conn.cursor()

    cursor.execute(f"DELETE FROM {ten_bang} WHERE {dieu_kien}")
    conn.commit()

    print(f"Xóa hàng thành công từ bảng {ten_bang} dựa trên điều kiện: {dieu_kien}")
    conn.close()
duong_dan_csdls = 'nhan_su.db'
ten_bang_can_xoa_hang = 'nhan_vien'
dieu_kien_xoa = 'ID = 1'

# Bài 5.9:

In [21]:
import pandas as pd
from io import StringIO

csv_data = """region_id,region_name
1,europe
2,americas
3,asia
4,middle east and africa
"""

with open('region.csv', 'w') as file:
    file.write(csv_data)

df = pd.read_csv('region.csv')
print(df)

   region_id             region_name
0          1                  europe
1          2                americas
2          3                    asia
3          4  middle east and africa

# Bài 5.10

In [23]:
import sqlite3

conn = sqlite3.connect('product.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS product (
        Id INTEGER PRIMARY KEY,
        Name TEXT NOT NULL,
        Price REAL NOT NULL,
        Amount INTEGER NOT NULL
    )
''')
conn.commit()

def display_products():
    cursor.execute('SELECT * FROM product')
    products = cursor.fetchall()
    if not products:
        print("Không có sản phẩm nào trong danh sách.")
    else:
        print("Danh sách sản phẩm:")
        print("Id\tName\tPrice\tAmount")
        for product in products:
            print(f"{product[0]}\t{product[1]}\t{product[2]}\t{product[3]}")

def add_product(name, price, amount):
    cursor.execute('INSERT INTO product (Name, Price, Amount) VALUES (?, ?, ?)', (name, price, amount))
    conn.commit()
    print("Đã thêm sản phẩm thành công.")

def search_product_by_name(name):
    cursor.execute('SELECT * FROM product WHERE Name LIKE ?', (f'%{name}%',))
    products = cursor.fetchall()
    if not products:
        print(f"Không tìm thấy sản phẩm có tên chứa '{name}'.")
    else:
        print("Kết quả tìm kiếm:")
        print("Id\tName\tPrice\tAmount")
        for product in products:
            print(f"{product[0]}\t{product[1]}\t{product[2]}\t{product[3]}")

def update_product_price_quantity(product_id, new_price, new_quantity):
    cursor.execute('UPDATE product SET Price = ?, Amount = ? WHERE Id = ?', (new_price, new_quantity, product_id))
    conn.commit()
    print("Đã cập nhật thông tin sản phẩm thành công.")

def delete_product_by_id(product_id):
    cursor.execute('DELETE FROM product WHERE Id = ?', (product_id,))
    conn.commit()
    print("Đã xóa sản phẩm thành công.")
while True:
    print("\n1. Hiển thị danh sách sản phẩm")
    print("2. Thêm sản phẩm mới")
    print("3. Tìm kiếm sản phẩm theo tên")
    print("4. Cập nhật đơn giá và số lượng của một sản phẩm")
    print("5. Xóa một sản phẩm theo Id")
    print("0. Thoát")
    
    choice = input("Nhập lựa chọn của bạn: ")
    
    if choice == '1':
        display_products()
    elif choice == '2':
        name = input("Nhập tên sản phẩm: ")
        price = float(input("Nhập đơn giá sản phẩm: "))
        amount = int(input("Nhập số lượng sản phẩm: "))
        add_product(name, price, amount)
    elif choice == '3':
        search_name = input("Nhập tên sản phẩm cần tìm: ")
        search_product_by_name(search_name)
    elif choice == '4':
        product_id = int(input("Nhập Id sản phẩm cần cập nhật: "))
        new_price = float(input("Nhập đơn giá mới: "))
        new_quantity = int(input("Nhập số lượng mới: "))
        update_product_price_quantity(product_id, new_price, new_quantity)
    elif choice == '5':
        product_id = int(input("Nhập Id sản phẩm cần xóa: "))
        delete_product_by_id(product_id)
    elif choice == '0':
        break
    else:
        print("Lựa chọn không hợp lệ. Vui lòng nhập lại.")

1. Hiển thị danh sách sản phẩm
2. Thêm sản phẩm mới
3. Tìm kiếm sản phẩm theo tên
4. Cập nhật đơn giá và số lượng của một sản phẩm
5. Xóa một sản phẩm theo Id
0. Thoát
Không có sản phẩm nào trong danh sách.

1. Hiển thị danh sách sản phẩm
2. Thêm sản phẩm mới
3. Tìm kiếm sản phẩm theo tên
4. Cập nhật đơn giá và số lượng của một sản phẩm
5. Xóa một sản phẩm theo Id
0. Thoát
Đã thêm sản phẩm thành công.

1. Hiển thị danh sách sản phẩm
2. Thêm sản phẩm mới
3. Tìm kiếm sản phẩm theo tên
4. Cập nhật đơn giá và số lượng của một sản phẩm
5. Xóa một sản phẩm theo Id
0. Thoát

# Bài 5.11:

In [24]:
import sqlite3

conn = sqlite3.connect('ql_nhan_vien.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS PHONG (
        Id INTEGER PRIMARY KEY NOT NULL,
        Name TEXT NOT NULL,
        quanly TEXT NOT NULL,
        so_luong_nhan_vien INTEGER NOT NULL
    )
''')

cursor.executemany('''
    INSERT INTO PHONG (Name, quanly, so_luong_nhan_vien)
    VALUES (?, ?, ?)
''', [
    ('Phòng A', 'Người quản lý A', 10),
    ('Phòng B', 'Người quản lý B', 8),
])
cursor.execute('''
    CREATE TABLE IF NOT EXISTS NHAN_VIEN (
        id INTEGER PRIMARY KEY NOT NULL,
        ho_ten TEXT NOT NULL,
        tuoi INTEGER NOT NULL,
        dia_chi TEXT NOT NULL,
        luong REAL NOT NULL,
        Id_phong INTEGER,
        FOREIGN KEY (Id_phong) REFERENCES PHONG(Id)
    )
''')
conn.commit()
conn.close()